<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio saepe dignissimos, sapiente ducimus magnam deserunt aut, eveniet iure exercitationem perspiciatis laboriosam, voluptate qui nisi soluta minus nihil odit suscipit totam! Alias, id tempora quisquam placeat nesciunt molestiae sapiente porro tempore dolor, nam sunt! Facere temporibus, officiis reprehenderit necessitatibus voluptatem vel.</p>
    </div>
</section>