<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App Nodejs and MongoDB
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, cupiditate necessitatibus. Repellendus, cupiditate. Veniam ratione incidunt ut libero hic sunt corrupti delectus, cupiditate nobis qui explicabo similique voluptatem soluta ipsum?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione officia molestias sapiente amet fugit obcaecati voluptatibus nesciunt enim beatae similique atque eaque, deleniti corporis optio delectus quidem ex quos deserunt aspernatur aperiam consequuntur laboriosam! Eius, dignissimos maxime repellat debitis cupiditate sequi dolorem explicabo architecto suscipit nulla iure non ipsum alias!</p>

    <a href="https://facebook.com" class="btn btn-primary">Facebook</a>
</div>